## ——— .NET / Visual Studio ————————————————————————————————
bin/
obj/
**/bin/
**/obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vs/
_ReSharper*/
*.ReSharper
*.DotSettings.user
*.ncrunch*
TestResult*/
TestResults/
*.coverage
*.coveragexml
*.trx

## ——— Rider / VS Code ————————————————————————————————
.idea/
*.iml
.vscode/
.history/

## ——— OS temporários ————————————————————————————————
.DS_Store
Thumbs.db

## ——— Logs ————————————————————————————————————————
*.log
logs/
**/logs/

## ——— Secrets/Local ————————————————————————————————
appsettings.Local.json
secrets.json

## ——— SQLite (mantemos fora do Git) ————————————————
*.db
*.db-wal
*.db-shm
AgendamentoAcademia.API/Infra/Data/
**/Infra/Data/

## ——— Publish/Artifacts ————————————————————————————————
publish/
artifacts/